:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-primary-light: hsl(321, 100%, 78%);

  --color-secondary: hsl(0, 100%, 63%);

  --color-neutral-dark: hsl(192, 100%, 9%);
  --color-neutral-pale: hsl(207, 100%, 98%);

  --color-grey: rgb(156, 163, 175);
}
