.header {
  grid-column: 2 / 12;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &__logo {
    width: 17rem;

    @include respond(tablet) {
      width: 14rem;
    }

    @include respond(mobile-l) {
      width: 15rem;
    }
  }

  &__btn {
    justify-self: end;
  }
}
