*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 4rem min-content 10rem repeat(3, min-content);
  grid-template-columns:
    minmax(min-content, 0.5fr) repeat(8, minmax(min-content, 1fr))
    minmax(min-content, 0.5fr);
}
