body {
  font-family: "Open-Sans";
  font-weight: 400;
}

.heading-1 {
  font-size: 10rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";
  font-weight: 600;
}

.heading-2 {
  font-size: 5.2rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";
  text-align: center;
}

.heading-3 {
  font-size: 4.5rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";
}
