body {
  font-family: "Open-Sans";
  font-weight: 400;
}

.heading-1 {
  font-size: 9.8rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";
  font-weight: 600;

  @include respond(laptop) {
    font-size: 8.6rem;
  }

  @include respond(tablet) {
    font-size: 7.4rem;
  }
}

.heading-2 {
  font-size: 4.4rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";
  text-align: center;

  @include respond(laptop) {
    font-size: 3.6rem;
  }

  @include respond(tablet) {
    font-size: 3rem;
  }

  @include respond(mobile-l) {
    font-size: 3.8rem;
  }
}

.heading-3 {
  font-size: 3.6rem;
  color: var(--color-neutral-dark);
  font-family: "Poppins";

  @include respond(laptop) {
    font-size: 3rem;
  }

  @include respond(tablet) {
    font-size: 2.8rem;
  }

  @include respond(mobile-l) {
    font-size: 3.2rem;
  }
}

.heading-4 {
  font-size: 3rem;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 500;

  @include respond(laptop) {
    font-size: 2.4rem;
  }

  @include respond(tablet) {
    font-size: 2rem;
  }

  @include respond(mobile-l) {
    font-size: 3rem;
  }
}
